* text=auto

###### Git
.gitattributes text
.gitignore text
.gitconfig text
.gitmodules text

##### Windows
*.bat text eol=crlf
*.exe binary
*.dll binary

##### Linux
*.sh text eol=lf
*.so binary

##### Global
# Documents
*.sql text
*.md text
*.adoc text
*.textile text
*.mustache text
*.csv text
*.tab text
*.tsv text
*.coffee text
*.css text
*.htm text
*.html text
*.xhtml text
*.inc text
*.js text
*.jsx text
*.less text
*.od text
*.onlydata text
*.sass text
*.scm text
*.log text
*.properties text
*.scss text
*.styl text
*.tag text
*.ts text
*.tsx text
*.dockerignore text
Dockerfile text
*.markdown text
*.mdwn text
*.mdown text
*.mkd text
*.mkdn text
*.mdtxt text
*.mdtext text
*.txt text
AUTHORS text
CHANGELOG text
CHANGES text
CONTRIBUTING text
COPYING text
copyright text
*COPYRIGHT* text
INSTALL text
license text
LICENSE text
NEWS text
readme text
*README* text
TODO text
# Configuration
*.cnf text
*.cfg text
*.conf text
*.config text
*.ini text
*.json text
*.xml text
*.bowerrc text
.browserslistrc text
.editorconfig text
*.npmignore text
*.yaml text
*.yml text
browserslist text
Makefile text
makefile text
Procfile text
.slugignore text
# Linters
.csslintrc text
.eslintrc text
.htmlhintrc text
.jscsrc text
.jshintrc text
.jshintignore text
.stylelintrc text
# Video
*.3gpp binary
*.3gp binary
*.as binary
*.asf binary
*.asx binary
*.fla binary
*.flv binary
*.m4v binary
*.mng binary
*.mov binary
*.mp4 binary
*.mpeg binary
*.mpg binary
*.ogv binary
*.swc binary
*.swf binary
*.webm binary
# Audio
*.kar binary
*.m4a binary
*.mid binary
*.midi binary
*.mp3 binary
*.ogg binary
*.ra binary
# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tif binary
*.tiff binary
*.ico binary
*.eps binary
*.ai binary
*.bmp binary
*.jng binary
*.jp2 binary
*.jpx binary
*.jxr binary
*.pdf binary
*.psb binary
*.psd binary
*.svg text
*.svgz binary
*.wbmp binary
*.webp binary
# Archives
*.7z binary
*.gz binary
*.jar binary
*.rar binary
*.tar binary
*.zip binary
# Fonts
*.ttf binary
*.eot binary
*.otf binary
*.woff binary
*.woff2 binary
# Executables
*.pyc binary
# Objects
*.o binary

##### IDE/Editor
# Visual Studio
*.sln text eol=crlf
*.csproj text eol=crlf
*.vbproj text eol=crlf
*.vcxproj text eol=crlf
*.vcproj text eol=crlf
*.dbproj text eol=crlf
*.fsproj text eol=crlf
*.lsproj text eol=crlf
*.wixproj text eol=crlf
*.modelproj text eol=crlf
*.sqlproj text eol=crlf
*.wmaproj text eol=crlf
*.xproj text eol=crlf
*.props text eol=crlf
*.filters text eol=crlf
*.vcxitems text eol=crlf
# Eclipse
*.project text
*.classpath text
*.prefs

##### Language
# Java
*.java text
*.jsp text
*.jspf text
*.jspx text
*.class binary
*.war binary
